{% extends 'index.html' %}
{% block title %}Employee{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>Employee Management Software</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 mt-4">
        <a href="{% url 'create' %}" class="btn btn-outline-dark">Add Employee</a>
    </div>
    <div class="col-lg-2 mt-4">
        <a href="{% url 'csv' %}" class="btn btn-outline-dark">Import CSV</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 mt-4">
        {% if messages %}
            {% for message in messages %}
                <h4 class="alert alert-dark" role="alert">{{message}}</h4>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID.</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in page_obj %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td>{{i.email}}</td>
                    <td>${{i.salary}}</td>
                    <td>{{i.joining_date | date:'Y-m-d'}}</td>
                    <td>
                        <a href="{% url 'update' i.id %}" style="color: black;"><i class="material-icons">&#xe923;</i></a>

                        <a href="{% url 'delete' i.id %}" style="color: black;"><i class="material-icons">&#xe872;</i></a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>

        {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-dark btn-sm">previous</a>
        {% endif %}

        <span>Page: {{page_obj.number}} out of {{total_page}}</span>
        
        {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-dark btn-sm">next</a>
        {% endif %}

    </div>
</div>
{% endblock %}